.kdev4/
caffe.kdev4
python/caffe/__init__.pyo
python/caffe/classifier.pyo
python/caffe/detector.pyo
python/caffe/io.pyo
python/caffe/net_spec.pyo
python/caffe/pycaffe.pyo
build/
include/caffe/layers/accuracy_layer.hpp~
python/caffe/__init__.pyc
python/caffe/_caffe.so
python/caffe/classifier.pyc
python/caffe/classifier.py~
python/caffe/detector.pyc
python/caffe/io.pyc
python/caffe/net_spec.pyc
python/caffe/proto/
python/caffe/pycaffe.pyc
src/caffe/layers/accuracy_layer.cpp~
src/caffe/proto/caffe.proto~
tools/extra/extract_seconds.pyc
tools/extra/parse_log.pyc
